[2021-07-25 17:04] hoechenberger opened #3 "Store / deploy artifacts"

[2021-07-25 17:05] hoechenberger opened #4 "Add MNE images to the graphical installers (Windows & macOS)"

[2021-07-25 17:06] hoechenberger opened #5 "Sign .pkg installer on macOS"

[2021-07-25 17:06] hoechenberger opened #6 "Correct required storage space estimate displayed in macOS installer"

[2021-07-25 17:07] hoechenberger opened #7 "Make macOS installer deploy to ~/mne-python/VERSION instead of ~/mne-python"

[2021-07-25 17:34] #3 closed

[2021-07-30 02:42] rob-luke opened #10 "Offer to help"
Hi @hoechenberger,

I think this project is great and would love to help. I just ran the installer on my Mac and ran `source ~/mne-python/bin/activate` and indeed I could run mne-python v0.23.0!

I also have access to linux and windows pc's in the office, so I can test on those for you too.

You mentioned in the mne-python chat that adding a start menu item was possible. I think this would be a gr

[2021-07-30 07:04] hoechenberger opened #11 "Reduce environment file"
Many of the packages listed in the installer's environment are, in fact, dependencies of the `mne-python` package on `conda-forge`, see https://github.com/conda-forge/mne-feedstock/blob/master/recipe/meta.yaml

This means that we could remove all those "duplicates" from the installer's `environment.yml`, as simply listing `mne-python` will take care of them.

[2021-07-30 07:09] hoechenberger opened #12 "Run CI tests for Windows installer too"
Currently, we only build the package, but don't install & test it.

[2021-07-30 07:26] hoechenberger commented on #10
Thanks for giving it a shot, @rob-luke!

So this would be based on [menuinst](https://github.com/conda/menuinst). The [Spyder feedstock](https://github.com/conda-forge/spyder-feedstock/tree/master/recipe) makes use of it, adding 2 menu entries on Windows (check `menu-windows.json`, `meta.yaml`, and `bld.bat`)
We'd need to adjust the [`mne` feedstock](https://github.com/conda-forge/mne-feedstock) i

[2021-07-30 07:32] rob-luke commented on #10
It is now, but I am happy to add it. Actually I think the first thing I need to do is inform myself about conda, mamba, pypi, etc and how they are all related. I will do some reading tonight. I managed to get pypi working, so Im sure Ill get this up. I will ping back here once its up.

If I get a chance to tackle an item I will assign myself to the issue first, as not to duplicate effort. But firs

[2021-07-30 07:34] hoechenberger commented on #10
btw apparently, `menuinst` can create links to websites too. So we could e.g. add a menu entry pointing to the MNE documentation:

https://github.com/conda/menuinst/wiki/Menu-Shortcut-Config-Structure

[2021-07-30 07:35] hoechenberger commented on #10
It can be complicated :) Especially since `conda-forge` has some particularities as well. Maybe you should start with skimming over some `conda-forge` docs? https://conda-forge.org/docs/

[2021-07-30 07:44] rob-luke commented on #10
Thanks for the links!

[2021-07-30 08:10] hoechenberger commented on #10
@rob-luke Thinking back of how long it took me to "get" conda / conda-forge, maybe it could make sense if we schedule a screenshare session and I talk you through some basics / we do them together? Ping me on Discord :)

[2021-08-03 16:15] hoechenberger opened #14 "Include MNE-NIRS"
MNE-NIRS is now on `conda-forge`, thanks to @rob-luke!!
We should include it in the installer!

[2021-08-04 00:12] rob-luke commented on #14
Lets wait till MNE v0.24 as it has some nice NIRS improvements. Do you know an approximate release date? this year?

[2021-10-10 06:22] rob-luke commented on #14
We should do the same with connectivity etc. should we have MNE base that just had a minimal install. Then a second mne plus that includes all extra packages in the organisation?

[2021-10-10 07:30] hoechenberger commented on #14
Yes so there is already a base package on conda-forge, and I'm planning to build an installer based on that one too :)

[2021-12-18 17:07] hoechenberger commented on #11
This has been resolved upstream

[2021-12-18 17:07] #11 closed

[2021-12-18 17:08] hoechenberger opened #18 "Windows build is broken on GH Actions"

[2021-12-18 20:29] #18 closed

[2021-12-18 22:56] hoechenberger commented on #12
See https://docs.anaconda.com/anaconda/install/silent-mode.html

[2021-12-20 00:10] #10 closed

[2022-01-13 12:42] hoechenberger opened #24 "Add console shortcuts on Windows"
Example: https://github.com/conda/constructor/pull/482/files

[2022-01-14 16:53] drammock opened #25 "bad default windows install location"
![Screenshot_2022-01-14_10-50-20](https://user-images.githubusercontent.com/1810515/149553867-ab5ed8a5-b4c5-4abd-be2f-22956097a964.png)

says `${USER_PROFILE}`

[2022-02-09 11:57] hoechenberger commented on #24
Added via #26

[2022-02-09 11:57] #24 closed

[2022-02-09 12:18] hoechenberger opened #28 "Add "base" installers too"
Should only include `mne-base`, `matplotlib`, and probably `jupyter` or so? What else would be needed for a "basic" installation?

cc @agramfort @larsoner

[2022-02-09 12:19] hoechenberger commented on #25
Oh wow, it should get expanded. Thanks for the report, I'll take a look.

[2022-02-09 12:29] larsoner commented on #28
To me it's a low priority, a minimal env is probably bit so useful for *users*, which is the target audience for the installers. Having few requirements is more useful for downstream packages/devs or advanced users who probably aren't going to use our standalone installers anyway I think

[2022-02-09 12:34] hoechenberger commented on #28
Good point, I'll move this down on my priorities list unless @agramfort disagrees

[2022-02-09 12:41] hoechenberger opened #30 "Make artifacts available without tagging a new release (e.g., for testing)"
Currently, the GH Actions artifacts are only exposed & downloadable if the `Release` step of your `build` action is run. This step will only run if there's a new tag on `main`, and will create a new release draft with the artifacts attached.

For interactive testing, obviously, this isn't the best approach.

It appears I'd [experimented](https://github.com/hoechenberger/mne-installers/blob/d7b7e5d

[2022-02-09 17:20] hoechenberger opened #32 "Include MNE "sample" data (or provide it in a separate installer)?"
I realized that when you want to try out your shiny new MNE after successful installation, running our tutorials will start downloading the `sample` data, making the installers only semi-usable for offline use.

I'm wondering if we could include our MNE datasets (or at least `sample`) in the installers, or at least provide separate installers for them. I was thinking we could actually make an `mne

[2022-02-09 17:43] larsoner commented on #32
Definitely not as part of the main installer, it adds 1-2GB. I would just live with `mne.datasets.sample.data_path()` being the preferred way to get any data, including sample. I don't hear any complaints from people about this process, so I don't think it's a high priority to make it easier for people to get the sample data.

I wouldn't even make on offline installer, I would tell people "downloa

[2022-02-09 18:43] larsoner commented on #30
I haven't worked with GH Actions artifacts at all so I have no idea :(

However, @agramfort mentioned that some repo builds their website with GH actions (I think on PRs) + artifacts, and then just exposes them interactively via CircleCI by having it download then re-expose them. So it seems like it should be possible to have GH actions artifacts be exposed on PRs...

[2022-02-09 20:19] #7 closed

[2022-02-09 21:43] agramfort commented on #30
this one https://github.com/braindecode/braindecode

[2022-02-09 21:45] agramfort commented on #32
yes it's too big. Let them download it with our fetcher

[2022-02-10 06:27] #32 closed

[2022-02-10 08:51] hoechenberger commented on #6
Seems to be fixed with the new (forked) `constructor` we're using now

[2022-02-10 08:51] #6 closed

[2022-02-10 08:52] hoechenberger commented on #4
We have this for macOS now, need to check what it looks like on Windows

[2022-02-10 12:58] hoechenberger opened #36 "Make mne-qt-browser the default plotting engine"
We can inject environment variables into the created environment upon activation, so all we'd need to do is set

[code]
This can be achieved via a modification to `construct.yaml`

@agramfort @larsoner @marsipu I'm quite determined to make this change, unless this idea gives you a terrible stomach ache..? I want to increase visibility of Martin's amazing new backend that way. I would bet many user

[2022-02-10 14:16] agramfort commented on #36
fine with me if it works out of the box !

[2022-02-10 17:34] larsoner commented on #36
I think mne-installers shouldn't deviate from standard MNE... whether or not we should change the default for 1.0 we should discuss tomorrow probably

[2022-02-10 17:41] cbrnr commented on #36
Would making the new browser make PyQt/PySide packages mandatory requirements? On macOS, I like using the `osx` backend because I don't need to have PyQt/PySide installed. Ideally, I would like to still be able to do `raw.plot()` with just `matplotlib` installed.

[2022-02-10 17:50] hoechenberger commented on #36
My understanding is that we'll only use the `mne-qt-browser` if it's installed, like we do now. The difference is that currently, just installing it is not enough; you also have to explicitly tell MNE-Python to actually make use of it.

[2022-02-10 17:55] cbrnr commented on #36
Ah OK, this sound good!

[2022-02-10 19:59] hoechenberger opened #37 "Shorten name of artifact / version number"
In the windows installer, the version number doesn't properly fit in the (fixed) window, so it should be changed. Currently, the full version string is `MNE-Python 0.24.1_installer-2022.2`; maybe it could become `MNE-Python 0.24.1-2022.2` instead?

[2022-02-12 12:39] hoechenberger opened #44 "Add installer package checksums to build artifacts"

[2022-02-12 12:40] hoechenberger opened #45 "Add frozen package versions to build artifacts"
Use `mamba env export`

[2022-02-12 12:42] #28 closed

[2022-02-12 12:43] hoechenberger commented on #4
This is now implemented via #35

[2022-02-12 12:43] #4 closed

[2022-02-12 12:47] hoechenberger opened #46 "Add info on grants and think of ways to collect donations"

[2022-02-12 17:19] hoechenberger commented on #44
well ... that didn't go as planned.

[2022-02-12 17:26] hoechenberger opened #48 "Build on Apple Silicon"
~~This is currently blocked by https://github.com/actions/runner/issues/805~~

~~*EDIT: Now blocked by https://github.com/actions/virtual-environments/issues/2187*~~

Waiting on:

- [x] https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/2908 to be merged
- [x] dcm2niix: waiting on https://github.com/conda-forge/dcm2niix-feedstock/pull/17
- [x] mne-kit-gui: waiting on mayavi to appea

[2022-02-12 17:33] larsoner opened #49 "Transfer to mne-tools"
It seems like this repo should live in `mne-tools`. One disadvantage is that we'll have to share CI resources, but hopefully once things work properly here, we'll only need to update things at release time, so I think CI sharing will be okay.

@hoechenberger let me know when it's a good time to transfer this repo to the mne-tools org. I'm thinking after the installers are 100% ready to go, and we'

[2022-02-12 17:34] larsoner opened #50 "Update to 1.0?"
Any reason all builds are currently named 0.24? It seems like they should be 1.0.dev0 or so, since that's what they need to work with...?

[2022-02-12 17:43] larsoner commented on #48
Indeed automated builds are. For the 1.0 release, we should probably see how difficult it is to get an M1 laptop and run the builder manually there using your scripts. Even if it's 8h of work it seems worth it to me.

[2022-02-12 18:18] hoechenberger commented on #48
I have access to an M1 machine, I just need to pick it up :) Running the build on it should be trivial. I just hope all dependencies are already available for Apple Silicon, but I'm quite confident that's the case!

[2022-02-12 18:29] hoechenberger commented on #50
It's very simple: The `constructor` we use to create the installers currently only supports `conda` packages*, and there's no `mne-dev` package, so I'm using the latest `mne` stable package from `conda-forge` for now.

My proposal is: we build a (nightly? 4-hourly?) `conda` package of `mne-python:main` on this CI system which can be used in subsequent CI runs for building the installer.

Or … mayb

[2022-02-12 18:36] hoechenberger commented on #49
Sounds great.

But even so, I see room for reducing CI resource usage. For example, upon pushing a tag / creating a release, we can skip the CI runs that don't actually produce a release artifact (that's in fact half of the runs!)

Also we could make use of some "control keywords" (via the commit message, as we do usually?) to explicitly skip or only run select jobs.

Lastly, pushing a new commit

[2022-02-12 18:40] hoechenberger commented on #50
@larsoner Actually we'd also need to build devel packages for MNE-BIDS etc then. All very possible. But it highlights some complications!

[2022-02-12 18:42] hoechenberger commented on #50
Maybe an even better idea would be to upload the packages to `anaconda.org`:
https://docs.anaconda.com/anacondaorg/user-guide/tasks/work-with-packages/#uploading-packages

We could have an `mne-devel` branch or something and drop MNE-Python, MNE-BIDS etc. there.

[2022-02-12 18:48] hoechenberger commented on #50
I'll start working on this tomorrow or Monday.

[2022-02-12 22:41] larsoner commented on #50
Hmm... not sure it's worth doing nightly builds. I mostly meant that these installers need to work with the 1.0 release when it comes out. To me it makes sense to just make sure these installers work in the weeks leading up to release time so that once we cut a release, we can build the installers quickly (like within a day) before we send out the release email.

I don't think people who want to u

[2022-02-13 07:26] hoechenberger commented on #50
Good point. I'll add dev builds on conda-forge then for all relevant packages, with the build triggered manually. Then we can start using them in installer.

[2022-02-13 09:35] hoechenberger commented on #50
I've started working on this at https://github.com/conda-forge/mne-feedstock/pull/63

@larsoner How should we deal with the fact that we kind of have a circular dependency, in where we'd want `mne` to depend on `mne-qt-browser`, however `mne-qt-browser` itself needs `mne`?

[2022-02-13 11:51] hoechenberger commented on #50
MNE-BIDS devel now done too, will be available from `conda-forge/label/mne-bids_dev`

[2022-02-13 13:25] #50 closed

[2022-02-14 08:24] hoechenberger commented on #48
Unfortunately, `qt` hasn't been migrated to `arm64` (Apple Silicon) yet on `conda-forge`:
https://github.com/conda-forge/qt-feedstock/pull/217

So I guess we're stuck with Intel builds for now …

I'll pick up my Apple Silicon machine sometime this week and try out the installer with Intel packages to see whether and how this works (I have no idea if Rosetta 2 will just spin up transparently in the

[2022-02-14 08:50] hoechenberger commented on #48
I've opened a [PR](https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/2520) to migrate MNE and all dependencies to `arm64`, which will allow us to keep track of the process via https://conda-forge.org/status/#current_migrations

[2022-02-16 13:10] hoechenberger opened #56 "MNE-NIRS shows up as not installed in "mne sys_info" in CI jobs"
Needs to be investigated, haven't had a look at this locally.

[2022-02-16 14:17] larsoner commented on #56
Probably an issue where the latest release is not compatible with MNE-Python dev / `mne.externals` removal. Any error on input makes a library show up as not installed.

[2022-02-17 19:31] hoechenberger commented on #48
Besides the delays on the conda-forge side of things, GH Actions runners are not ready to run on Apple Silicon natively either. Should be in a few weeks though:
https://github.com/actions/runner/issues/805#issuecomment-1041968059

[2022-02-17 19:34] larsoner commented on #36
Yes I just merged it in https://github.com/mne-tools/mne-python/pull/9960 !

[2022-02-17 19:34] #36 closed

[2022-02-17 19:39] hoechenberger commented on #36
Perfect, thanks!

[2022-02-17 19:49] dengemann commented on #48
Yep that's it. They just work. Although native is always much better.

[2022-02-19 12:04] #44 closed

[2022-02-19 12:05] #45 closed

[2022-02-21 13:01] hoechenberger opened #63 "Use plaintext license file for Linux CLI installer"
RTF doesn't display correctly in the terminal.

[2022-02-21 13:17] hoechenberger opened #65 "Menu icons don't show up on Linux (.desktop files contain references to .png files we don't ship!)"
Solution: include icons in `PNG` format as well.

[2022-02-21 14:19] #63 closed

[2022-02-21 14:23] hoechenberger commented on #65
Tracking at https://github.com/conda-forge/mne-feedstock/issues/74

[2022-02-21 14:23] #65 closed

[2022-02-25 10:28] hoechenberger opened #67 "Prevent using user packages"
Ran into an issue with @SophieHerbst where MNE-BIDS was outdated at runtime, however it was up to date in the installed environment.

Turned out Python picked up an old install from `~/.local`, installed via `pip install --user` some time ago.

The installer should disable use of such packages.

The way to achieve this is by setting `PYTHONNOUSERSITE=1`.

[2022-02-25 12:07] #67 closed

[2022-03-01 09:14] hoechenberger opened #72 "Add further packages"
- [ ] `mne-rsa`: will be added as soon as the `conda-forge` package is ready
- [ ] `mne-hfo`: @adam2392 was unsure whether it's ready for inclusion yet (0.2)
- [ ] `mne-features`: `conda-forge` package [in PR](https://github.com/conda-forge/staged-recipes/pull/18186)
- [ ] `mne-microstates`: there doesn't seem to be an officially tagged release. Are you planning on making a release sometime, @wmva

[2022-03-01 13:28] wmvanvliet commented on #72
I could mint a release for `mne-microstates`. It was always intended as a simple script, but it actually has some users now that are not me :)

[2022-03-15 17:37] #49 closed

[2022-03-15 18:46] hoechenberger opened #82 "Add MNELAB (requires Qt 6)"
As soon as we have Qt6 on `conda-forge`

To keep track: https://github.com/conda-forge/qt-main-feedstock/pull/14

[2022-03-15 19:10] hoechenberger opened #84 "Move test-related files from /assets to a new, dedicated directory, e.g., /tests"
The original idea of `/assets` was once to only include stuff that will be used by the installers / will be bundled with them.

cc @larsoner

[2022-03-16 00:29] #84 closed

[2022-03-16 20:48] hoechenberger opened #86 "Add pyprep"
cc @sappelhoff

[2022-03-16 20:50] sappelhoff commented on #86
yes - how? :-)

[2022-03-16 20:53] larsoner commented on #86
Make sure it's up to date on conda-forge, then add to https://github.com/mne-tools/mne-installers/blob/main/recipes/mne-python_1.0/construct.yaml#L71, and add an import test to `tests/test_import.py`

[2022-03-16 21:32] #86 closed

[2022-03-18 14:28] larsoner opened #89 "Uninstaller?"
I finally tried the Linux installer. It only took a couple of minutes and had a nice progress bar. Nice!

Is there some process for uninstallation? Maybe we should have an icon for it on Linux, or at least if you re-run the installer it should have an option for removal?

[2022-03-18 14:33] hoechenberger commented on #89
Currently there's only an uninstaller for Windows. If we want one for other platforms, we'd have to cook up our own. I'm more inclined to document the manual uninstall procedure so we don't end up screwing up our users' systems if we have a stupid bug in our uninstall routine 😅 Let's talk about this during the office hour later today!

[2022-03-18 14:35] larsoner commented on #89
Sure, manual doc would be fine. We can just add a link from the current installation page saying what to do on each platform. For macOS it would be just this drag, on Windows it would be to use the uninstall link, for Linux it's to delete the directory plus some .desktop file(s) somewhere

[2022-03-18 19:19] larsoner opened #90 "BUG: macOS and Windows minor misc issues"
Overall the installation process was quite nice on macOS! A couple of minor issues:

1. At the end on macOS, the installer popped up a notification saying I could access MNE-Python via applications. Ideally clicking this would open the folder `/Applications/MNE-Python`, but instead it popped up the script editor (?):

   <img width="812" alt="Screen Shot 2022-03-18 at 3 09 58 PM" src="https://user

[2022-03-18 19:54] larsoner commented on #90
Updated to mention the same minor naming issue on Windows, where other than that, things worked as expected!

[2022-03-18 19:58] larsoner commented on #90
... except one more thing that I just noticed -- the uninstaller on Windows *does* remove all the files from `~/mne-python/` (good) but it *does not* remove the start menu entries (bad):

![Capture2](https://user-images.githubusercontent.com/2365790/159074996-30c7a940-bbec-4c64-9fa7-70f57975b295.PNG)

[2022-03-19 07:58] hoechenberger commented on #90
Thank you for testing the installer on 3 platforms!!!

The notifications are displayed via AppleScript. Unfortunately, this also means when you click on them, the script editor will be brought up.

I have to say that on my systems, I usually don't even see those notifications as I'm in Do Not Disturb mode.

My proposal would be to just remove them.

WDYT?

Oh, yes, I never looked into that. If you

[2022-03-19 11:55] larsoner commented on #90
Yes, better to remove it than have it pop up something that doesn't make sense when it's clicked.

On Linux and Windows it was okay actually. Just a macOS problem.

Yes, there and in Spotlight it's okay. But I think it's important to make sure finder, spotlight, *and* the dock are as usable as possible.

Right now it's `MNE <app> (<version>)`, but perhaps we should prioritize the actual app name.

[2022-03-19 14:25] hoechenberger commented on #90
[...]

I just spent 30 min to find a solution and I don't think there is an easy one.

I am planning to add iTerm2 support in a future version of the installer (it has a [Python scripting interface](https://iterm2.com/python-api/)) – I believe this is time better spent.

Thoughts?

[2022-03-19 14:32] larsoner commented on #90
Ultimately I don't think the printing is so bad. Could it be simplified by adding a little script with those two commands, then you just call the script? Then what gets printed would at least be much shorter and fit on one line

[2022-03-19 15:02] hoechenberger opened #91 "Disable AppleScript-based notifications during installation"
See #90

[2022-03-19 15:14] hoechenberger opened #93 "Reduce verbosity of MNE Prompt output on macOS"
As brought up in #90

Proposed solution:
Store the commands in a script and run that script, so only **that** call will be echoed.

[2022-03-19 16:22] hoechenberger opened #94 "On macOS, install to /Applications/MNE-Python and drop the version numbers from .app bundle names"
Also switch from naming style `MNE Spyder` to `Spyder (MNE)`

see #90

[2022-03-19 16:23] hoechenberger opened #95 "On Windows, remove the version number from the shortcuts (it's already part of the menu name!), and disable desktop shortcuts"
see #90

[2022-03-19 16:27] hoechenberger opened #96 "Dealing with the mne-python conda environment folder on macOS"
Currently, we dump the conda environment into /Applications/MNE-Python, right next to the `.app` bundles we create.

My long-term goal is to only deploy a **single** `MNE-Python.app` that contains the entire conda env, and when opened, displays a launcher with shortcuts to Spyder, our website, etc

Until then, I'd like to "hide" the conda environment folder. I was thinking of just renaming it to `

[2022-03-19 16:28] #91 closed

[2022-03-19 16:31] hoechenberger commented on #95
Needs to be addressed upstream in https://github.com/conda-forge/mne-feedstock

[2022-03-19 16:32] hoechenberger commented on #94
Dropping version numbers needs to be addressed upstream in https://github.com/conda-forge/mne-feedstock

[2022-03-19 17:49] larsoner commented on #96
The launcher idea is what Anaconda does. I think it's workable, but it *is* pretty nice to have an immediate shortcut to Spyder (as an app) for example. As long as people can pin this to their dock, though, it's probably not a big issue

[2022-03-19 17:53] hoechenberger commented on #96
Good point about being able to e.g. have Spyder in your Dock.

WDYT about my idea of "hiding" the conda environment folder by prepending a `.`?

[2022-03-19 18:22] larsoner commented on #96
Sounds good if it works! I do like the idea of hiding it somehow, as it seems a bit out of place.

Another option would be to put the actual Python bits in `~/mne-python/...` as done on Windows and Linux, and then just have `~/Applications/` (or `/Applications/`) have the `MNE-Python` folder with `.app`s in it

[2022-03-19 18:24] larsoner commented on #96
... it does appear to work -- I did `mv mne-python_1.0.0_0 .mne-python_1.0.0_0` and it no longer shows up in the dock, which is much better!

<img width="507" alt="Screen Shot 2022-03-19 at 2 23 56 PM" src="https://user-images.githubusercontent.com/2365790/159133789-68c379ae-9763-44e5-bf9f-263baefd1a97.png">

[2022-03-19 18:29] hoechenberger commented on #96
I'm not in favor, as that's not the macOS way to do it.

There's basically two "right" ways:

Either one stores this stuff in `~/Library/Application Support`, or in the `.app` bundle's `Resources` folder (which ons is preferred depends on the use case; in our situation, the `.app` bundle would probably be the better choice)

Currently, we're doing neither of them; however, at least the conda env i

[2022-03-19 18:29] hoechenberger commented on #96
Nice! Let's try this one then

[2022-03-19 19:45] #96 closed

[2022-03-20 08:14] hoechenberger opened #100 "Move installer menus from mne-feedstock to this repo"
Once https://github.com/conda/constructor/pull/500 has been merged, we **may** be able to get rid of the `mne-installer-menus` conda-forge package and instead move all the menu-related files to this repo and simply configure the installer to place those files in the correct location before `menuinst` is being run. This would allow us to test & release changes to the menus without tagging a new `mn

[2022-03-20 08:17] hoechenberger opened #101 "Prompt should print Python executable path and MNE version on Windows too"
This currently only happens on macOS and Linux.

Once we've added this functionality, we can remove the `Note` from this section of the docs:
https://mne.tools/dev/install/installers.html#vs-code-setup

[2022-03-20 08:24] #94 closed

[2022-03-20 08:24] #95 closed

[2022-03-20 08:25] hoechenberger commented on #93
@larsoner Would you like to take a stab at this?

[2022-03-20 08:26] hoechenberger commented on #101
@larsoner Would you like to take a stab at this?

[2022-03-20 08:46] hoechenberger opened #104 "Somehow document which packages and tools are part of the installers"
I doubt most users will be aware of the fact that we bundle FSLeyes, the GitHub CLI, and other super helpful tools if we don't tell them we do.

We removed this list from the MNE docs out of fear it would be outdated very quickly.

Since all installed "extra" conda packages are listed in `construct.yaml`, it should be relatively easy to generate a nicely-formatted list of bundled packages every ti

[2022-03-20 16:46] agramfort commented on #104
no strong feeling here. I never user fsleyes and I still don't use the GH
CLI :)

[2022-03-20 17:45] hoechenberger commented on #104
But even so, there's many more packages and tools that we bundle :) like `dcm2nixx`
In the future, we could even include `git` is we wanted to …

[2022-03-21 19:39] #93 closed

[2022-03-21 19:39] #101 closed

[2022-03-22 09:03] hoechenberger opened #107 "Document how users who use the installed environment on a remote computer (e.g., via SSH) can activate the environment"
Even if they do use a graphical desktop environment, they won't see menu entries. So we'd need to let them know that they can just run `source ..../bin/activate`.

[2022-03-22 15:32] hoechenberger opened #108 "Include sleepecg"
cc @cbrnr

[2022-03-24 05:59] #108 closed

[2022-03-30 18:33] hoechenberger opened #110 "Release new installers with updated mne-qt-browser 0.2.6"

[2022-03-31 08:55] #110 closed

[2022-04-18 08:51] hoechenberger opened #119 "Add pqdm"
cc @agramfort

[2022-04-18 16:57] larsoner commented on #119
This is probably going to get messy with joblib backends and the plan in https://github.com/mne-tools/mne-python/issues/10522

[2022-04-18 17:49] agramfort commented on #119
it's not meant to be added to the mne code base and we have seen this used
by users in neurospin.
it seems useful but I would not advertise it too much

[2022-04-21 12:52] hoechenberger opened #121 "MNE Prompt missing on Windows?"
During a workshop we just installed MNE with the latest installers on Windows, and while everything seemed to go fine, there was no MNE Prompt in the start menu in the end. Not sure if there was something wrong with that particular computer, or if we have a bug.

[2022-04-21 12:55] hoechenberger commented on #121
False alarm, it just didn't show up in the search for some reason!

[2022-04-21 12:55] #121 closed

[2022-04-27 17:42] hoechenberger opened #122 "Add Jupyter Lab & Notebook shortcuts"

[2022-05-10 20:06] #119 closed

[2022-05-23 20:09] larsoner commented on #48
@hoechenberger I have access to an M1 mac, so I could do these builds manually the 5 or so times we'll need it again until https://github.com/actions/virtual-environments/issues/2187 is sorted out (now that GH actions isn't the bottleneck anymore: https://github.com/actions/runner/issues/805#issuecomment-1134882349). I also just set up an environment on my M1 machine and everything I needed seemed

[2022-05-24 07:24] hoechenberger commented on #48
@larsoner I have been using an M1 Mac myself for a few months now, too :)

We still don't have `qt` for M1 … there **is** `qt-main` now but I'm not sure if it does the trick. And yes, no Qt6 builds anywhere to be seen …

[2022-05-24 08:35] hoechenberger commented on #48
I have an x84 conda install on my M1 Mac, and the following commands set up a native Apple Silicon environment:

[code]
but the 2nd command wants to install an outdated version of `mne-qt-browser`. I hope this will be resolved once https://github.com/conda-forge/mne-feedstock/pull/97 has been merged. I will also add `mne-qt-browser` to the list of arm64 migrations at https://github.com/conda-forge

[2022-05-24 08:41] hoechenberger commented on #48
I've requested the `mne-qt-browser` migration to `osx-arm64` (Apple Silicon)

https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/2905

[2022-05-24 09:04] hoechenberger commented on #48
Both PRs have been merged (dropping `spyder` dependency from `mne` feedstock, and adding `mne-qt-browser` to the list of requested migrations to `osx-arm64`).

This means that hopefully within the next hours, some changes should become visible at https://conda-forge.org/status/#armosxaddition, and a bot should open a migration PR at https://github.com/conda-forge/mne-qt-browser-feedstock

Fingers

[2022-05-24 15:55] larsoner commented on #48
Ahh okay great!

[2022-05-24 17:03] hoechenberger commented on #48
Ok cool, so now with al MNE dependencies migrated to arm64, we should check if any of the numerous other things we include in the installer are still blocked

 I think Spyder is still having issues, because `qtconsole` is `awaiting-pr`:
https://conda-forge.org/status/#armosxaddition

Let's just wait until tomorrow or so, I expect Spyder to become available for arm64 by then :)

[2022-05-24 17:04] hoechenberger commented on #48
update: migration for qtconsole currently fails :(

https://github.com/conda-forge/qtconsole-feedstock/pull/48

[2022-05-24 17:24] larsoner commented on #48
And also locally on M1 I get:
[code]
So that needs to be migrated, too, apparently? It seems like I can `conda install -c conda-forge constructor`, so it seems to be a problem with the forked version. @hoechenberger can you look into getting this forked version of constructor on arm as well?

[2022-05-24 17:30] hoechenberger commented on #48
Oh dang, yes I suppose it was never migrated. I can reach out to the person who created the fork.

[2022-05-24 17:32] hoechenberger commented on #48
I think a few of the changes from the fork have also been merged upstream, I can look into this and see if we still need to rely on that fork or if we're ready to move back to upstream vanilla

[2022-05-24 17:45] larsoner commented on #48
At least commenting out the versions in `environment.yml` allowed `conda env create -f environment.yml` to succeed on M1, then commenting out `welcome_file, readme_text, conclusion_file, notarization_identity_name, reverse_domain_identifier` in `construct.yaml` allowed it to try. Now the packages that fail are:
[code]
@hoechenberger can you look into migrating or pinging people for sleepecg, openn

[2022-05-24 17:57] hoechenberger commented on #48
Yes this then should cause you to use the vanilla packages from `conda-forge`, which are lacking some of the stuff we need. But good idea as this allows us to see which other packages are problematic!!

I believe I'm responsible for all of them *cough* :D

When I start touching those feedstocks, may I add you as co-maintainer..?

[2022-05-24 17:59] hoechenberger commented on #48
@larsoner I believe sleepecg is blocked by tensorflow…

[2022-05-24 18:04] hoechenberger commented on #48
@larsoner I've requested the migrations via https://github.com/conda-forge/conda-forge-pinning-feedstock/pull/2908

So even if we still have some blockers, these packages will show up on the migration status page

[2022-05-24 18:13] hoechenberger commented on #48
Yes, that's my current understanding!

[2022-05-24 18:34] hoechenberger commented on #48
I just looked and `tensorflow` is actually already available for arm64 on conda-forge!

https://anaconda.org/conda-forge/tensorflow-base

[2022-05-24 18:50] larsoner commented on #48
Okay, can you migrate sleepecg then?

[2022-05-24 20:39] hoechenberger commented on #48
They got back to me with good news! We don't need arm64 builds of the constructor, as it can cross-build. This is what they wrote me:

So I think what this means is that if we manually extract the conda-standalone package and pass the path to the binary via the conda-exe switch, we should be able to build the Apple Silicon installers even on a different platform!

[2022-05-24 20:41] larsoner commented on #48
That's awesome and actually makes some sense. Let's get https://github.com/mne-tools/mne-installers/pull/125 in and then we can locally test and iterate on this idea locally on non-M1 machines (once the builds work on M1 machines natively, see TODO list I added at the top)

[2022-05-24 20:43] hoechenberger commented on #48
Oh and for installing the deps, when you create the environment for the forked constructor on your Mac, create an Intel-based environment via

[code]

[2022-05-25 05:37] hoechenberger commented on #48
@larsoner There is still an entire chain of macOS dependencies (pyobjc-framework-*) that need to be migrated for Spyder, the blocker being pyobjc-framework-cocoa if I'm not mistaken. Let's hope this will be resolved today or within the next few days.

[2022-05-25 12:21] hoechenberger commented on #48
@larsoner I believe once https://github.com/conda-forge/pyobjc-framework-cocoa-feedstock/pull/54 has been merged, migration of the other packages should follow 🙏

[2022-05-25 18:51] cbrnr commented on #82
Yes, I saw that. 🤷‍♂️? It can be installed with pip, even in a conda env. I don't know why it is necessary to create conda packages when this is so much effort and when official binaries exist on PyPI.

[2022-05-25 18:56] hoechenberger commented on #82
Because the installer ships much more than just Python packages

[2022-05-25 20:08] cbrnr commented on #82
Yeah, it's a pity the installer can't include pip packages.

[2022-05-25 20:15] hoechenberger commented on #82
We can ship custom files, so we could include packages and install them via a post-install script, but it would require some fiddling.

[2022-05-26 11:50] hoechenberger commented on #82
Yes. It's trivial to just run `pip install` in the post-install script, or to include a desktop shortcut / `.app` that opens a shell and does that thing automatically.

The problem with this is that it would require network / internet access.

To avoid this, we'd need to bundle all PyPI dependencies, drop them into a separate folder, and run something like

[code]
To ease things, we could simply b

[2022-05-26 11:57] hoechenberger commented on #82
Another approach:
Re-bundle the "pip requirements" as `conda` packages. We won't be able to publish those on `conda-forge`, but we could upload them to a custom `mne` channel on anaconda.org and list this package source in our `construct.yaml`. Then we won't have to fiddle with any post-install magic.

https://docs.conda.io/projects/conda-build/en/latest/user-guide/wheel-files.html#building-a-cond

[2022-05-26 17:34] cbrnr commented on #82
I can do that. The dependencies that are not available on conda-forge are `PySide6`, which itself requires `PySide6-Addons`, `PySide6-Essentials`, and `shiboken6`. That's it.

[2022-05-27 16:30] hoechenberger commented on #48
@larsoner What should we do re https://github.com/conda-forge/pyobjc-framework-fsevents-feedstock/pull/22 ? Should we try to ping the maintainer again? Or would that be too early?

[2022-05-27 16:46] larsoner commented on #48
I think we just wait until Monday :(

[2022-05-27 16:55] hoechenberger commented on #48
@larsoner Looking at their GH activity, I assume they're simply on vacation, which makes sense since yesterday was a public holiday and lots of people are taking the opportunity to have a super-long weekend. So we'll just have to be patient and let this person rest 👍👍👍

[2022-05-31 19:14] hoechenberger commented on #48
I'm not sure, let's wait until `...-fsevents` becomes available from the CDNs and then make a PR for a manual migration instead of waiting on the bot; see this PR for an example on how to do it (look at the individual commits):

https://github.com/conda-forge/sleepecg-feedstock/pull/12

[2022-05-31 19:17] larsoner commented on #48
Actually it looks like that's no longer the blocker but rather [pyobjc-framework-cocoa](https://github.com/conda-forge/pyobjc-framework-cocoa-feedstock/pull/54) being "in PR" ... despite the plan appearing to be not merging that PR. Not sure how to get the conda-forge status to understand the situation

[2022-05-31 19:20] larsoner commented on #48
because we have

- spyder
- pyobjc-framework-coreservices, waiting on
- pyobjc-framework-fsevents, waiting on
- [pyobjc-framework-cocoa](https://github.com/conda-forge/pyobjc-framework-cocoa-feedstock/pull/54)

And separately we also have spyder waiting on some other stuff (qtconsole, pyqt, qt-webengine, qt-main)

[2022-05-31 19:20] hoechenberger commented on #48
No this is another migration for  linux-aarch64 and ppc64le, so unrelated to osx-arm64

[2022-05-31 19:22] larsoner commented on #48
Argh right, clicking the wrong buttons!

[2022-05-31 19:23] hoechenberger commented on #48
<img width="290" alt="Screen Shot 2022-05-31 at 21 22 46" src="https://user-images.githubusercontent.com/2046265/171268407-0c7d3fbd-dbe6-4a9d-add8-3dda6d975076.png">

That's the dependency graph I'm getting for Spyder

[2022-05-31 21:22] hoechenberger commented on #48
@larsoner Only now the `...-fsevents` feedstock is actually being migrated:
https://github.com/conda-forge/pyobjc-framework-fsevents-feedstock/pull/23

[2022-06-01 08:27] hoechenberger commented on #48
… still waiting for the PR to get merged … *sigh*

[2022-06-02 09:11] hoechenberger commented on #48
@larsoner The finish line is in sight!!!

https://github.com/conda-forge/spyder-feedstock/pull/133

[2022-06-03 09:05] #48 closed

[2022-06-03 09:32] hoechenberger opened #127 "Fixing macOS release workflow"
Followup of #126

- [x] 7114b5f

cc @larsoner

[2022-06-03 09:58] hoechenberger commented on #127
@larsoner We sometimes seem to get timeouts during dependency resolution on Linux
We should probably increase the timeout from 20 to 25 min or so

[2022-06-03 10:38] hoechenberger commented on #127
It's working

[2022-06-03 10:38] #127 closed

[2022-06-03 10:39] hoechenberger opened #128 "Test M1 installers before making a public release"
https://github.com/mne-tools/mne-installers/releases/tag/untagged-41d19bf875fbbe3e2fab

[2022-06-03 10:53] hoechenberger commented on #128
The installer title says it's version 1.0.3_0, but it should be 1.0.3_1 🤔

<img width="732" alt="Screen Shot 2022-06-03 at 12 53 14" src="https://user-images.githubusercontent.com/2046265/171840644-2aeda1a8-1411-419b-a02c-96d729d8de1b.png">

[2022-06-03 11:08] hoechenberger commented on #128
Looking good so far:
[code]

[2022-06-03 11:11] hoechenberger commented on #128
Spyder is working too

<img width="1552" alt="Screen Shot 2022-06-03 at 13 11 37" src="https://user-images.githubusercontent.com/2046265/171843104-1d051c3b-f2e7-4bce-98a5-1fa2f53fe583.png">

[2022-06-03 11:14] hoechenberger commented on #128
3D viz works:

<img width="1201" alt="Screen Shot 2022-06-03 at 13 13 59" src="https://user-images.githubusercontent.com/2046265/171843453-ac1e8424-3f44-47b6-9c83-8c47af064985.png">

[2022-06-03 11:22] hoechenberger opened #130 "Add some mechanism to test at build time whether we're packing outdated packages"
Since we're using quite a bit of version pinning, it would be good to at least get a reminder about available package updates before we cut new releases.

A way to query is by using
[code]
The returned JSON object lists the available releases in descending order

[2022-06-03 11:32] hoechenberger opened #131 "Update to latest constructor fork"
We pinned `constructor` to a specific version. We should bump to the latest release of the fork we're using, adjust our patches if needed, and then try to get part of that stuff merged "upstream" in the fork :)

[2022-06-03 11:38] hoechenberger opened #132 "Run mne sys_info in post-install script?"
The first run of mne sys_info (or, actually, just the first import of MNE and some of its dependencies) seem to take a long time on my machine (macOS). Subsequent runs are usually **much** faster. This seems to have to do with some library caching / checking / integrity analysis or whatever macOS is performing.

I think if we were to execute `mne sys_info` as part of the installer (very last step)

[2022-06-03 12:46] larsoner commented on #132
We have had issues in the past with this crashing, which makes me a little bit wary of doing it. But if we can run it and ignore the return value (e.g., getting a bad one from a segfault) then I agree it would be nice!

[2022-06-03 12:48] larsoner commented on #128
Awesome, sounds like we're good to go, then, right?

[2022-06-03 12:48] hoechenberger commented on #132
You mean the crashes due to issues with 3D / PyVista?

[2022-06-03 13:12] hoechenberger commented on #128
@larsoner We still need #129 or at least the part of it that bumps the build number

Then force-delete the 1.0.3-post1 tag I created

Then make a new draft release again

and then we can publish it :)

[2022-06-03 17:08] hoechenberger commented on #128
As per discussion on Discord, we're holding off the new release until we have MNE 1.1, to not compromise the "wow" effect of the new native builds :) so the idea is to announce 1.1 together with the M1 builds.

[2022-06-04 16:44] larsoner commented on #132
In bash you can `set +e` then run the command then `set -e`, but it's easier just to `command || true`

[2022-06-08 12:44] larsoner opened #134 "ENH: Speed up build+test"
Why do we build installers for two versions of each OS (plus M1)? It seems like we should build just on the oldest one for each OS (plus M1), then test on the oldest and the newest version of each OS (plus M1). In other words, it seems like we should have two stages: the first "build" stage on 4 OSes (old ubuntu/mac/win + M1), and a second "test" stage on 7 OSes (old/new x ubuntu/mac/win, plus M1)

[2022-06-08 12:56] hoechenberger commented on #134
I like this idea! Let's do this!

… who'll do it? ;)

[2022-06-08 13:01] hoechenberger commented on #134
Please do go ahead if you have the time, my todo bucket is overflowing already…

[2022-06-08 13:26] larsoner commented on #134
Looks like a combo of these two docs should suffice:

- https://docs.github.com/en/actions/using-jobs/using-jobs-in-a-workflow#defining-prerequisite-jobs
- https://levelup.gitconnected.com/github-actions-how-to-share-data-between-jobs-fc1547defc3e

After #133 is in I'll give it a shot. One disadvantage is that these are ~1GB so it'll actually add some time to download them. But given that most of

[2022-06-08 13:45] larsoner commented on #132
Fixed by #133

[2022-06-08 13:45] #132 closed

[2022-06-08 13:46] larsoner commented on #128
I think we've tested these so I'll close. I'll cut a prerelease and we should test on every platform anyway

[2022-06-08 13:46] #128 closed

[2022-06-09 06:57] #134 closed

[2022-06-17 07:59] hoechenberger opened #140 "Set MPLBACKEND env var to enforce using Qt5Agg backend?"
Would there be any drawbacks on headless machines, e.g. running through Jupyter Lab? Would Matplotlib just refuse to work there, instead of automatically picking a different backend?

Came up in https://mne.discourse.group/t/semi-interactive-plot-with-matplotlib-backend/5094

[2022-06-17 08:49] hoechenberger commented on #140
The MPL docs say:

https://matplotlib.org/stable/users/explain/backends.html#selecting-a-backend

So maybe it's sufficient to only set this env var on macOS, to exclude potential side effects on all other platforms.

[2022-06-17 09:49] cbrnr commented on #140
For the installers this should be OK. Please don't do that for MNE-Python in general though, because having `macosx` as the default on macOS allows users to produce plots without having to install PyQt/PySide.

[2022-06-17 09:51] hoechenberger commented on #140
Yes this is really limited to the installers.

[2022-06-17 22:30] #140 closed

[2022-07-28 12:34] hoechenberger opened #145 "Repository permissions"
@larsoner Can you please grant me the highest possible permission status for this repo? I just wanted to explore branch protection rules to enable stuff like auto-merging, but apparently I'm lacking the required access rights. Thanks!

[2022-07-28 12:56] larsoner commented on #145
Just made you admin!

[2022-07-28 12:56] #145 closed

[2022-09-14 17:49] larsoner commented on #131
@hoechenberger have you followed https://github.com/conda/constructor/pull/475 et al.? Any idea if we're close to being able to use the non-forked version?

[2022-09-14 18:32] hoechenberger commented on #131
I have to say Unlust track because there were so many changes. There is an issue at the napari repo where they're tracking progress I believe, maybe we should try to follow that one 😅

[2022-09-14 20:23] larsoner commented on #131
I did a search there for "conda constructor" and didn't find anything obvious. Is it possible it's in one of the conda constructor/packaging forks rather than napari?

[2022-09-14 20:34] hoechenberger commented on #131
I will take a look and try to find it :)

[2022-09-14 23:40] larsoner commented on #131
FYI I plan on trying to get one of those properly signed Windows certificates for us to use, too

[2022-09-15 03:44] larsoner commented on #131
... do you happen to know if we can get away with standard code signing, or if we need EV code signing for windows?

[2022-09-15 05:46] hoechenberger commented on #131
Cool!

A little bit of google'ing seems to suggest that the warning message (Windows SmartScreen) only goes away if the executable has been signed with an EV cert.

[2022-09-15 17:36] hoechenberger commented on #131
@larsoner I believe once https://github.com/conda/constructor/pull/474 has landed we should just try and see if we can use constructor & menuinst vanilla.

I do remember that the napari for of menuinst behaved quite differently from the vanilla one. But I don't remember in which way exactly … but there **was** an important, major difference. Related to when and how the menus are created or so …

I

[2022-09-15 19:47] larsoner commented on #131
Found the meta issue

https://github.com/napari/packaging/issues/15

[2022-09-16 11:22] jaimergp commented on #131
Hi team! I'll give you a short overview of where we are at. `conda/constructor:main` now has almost everything the napari fork had, plus more! Upstreaming the changes one by one, plus individuals review, pushed the code further in terms of robustness and QC.

The only thing missing right now is https://github.com/conda/constructor/pull/474. This PR is part of a bigger, cross-tool change: bringing

[2022-09-16 12:13] hoechenberger commented on #131
This is amazing work, @jaimergp! Thanks for the update!

If you have a minute to spare – could you please remind me what was the difference between vanilla and napari's `menuinst`? I do remember that there were important differences, but I cannot remember which…

[2022-09-16 12:17] jaimergp commented on #131
Vanilla menuinst only supports Windows shortcuts. The new menuinst will provide shortcuts for Windows, macOS and Linux, using a new JSON configuration schema.

[2022-10-07 12:16] larsoner commented on #130
I think we have this now

[2022-10-07 12:16] #130 closed

[2022-10-07 12:17] larsoner commented on #100
@hoechenberger do you want to give this a try now?

[2022-10-07 12:19] larsoner commented on #30
I have recently used and tested an artifact without making a release. It shows up in the Actions for the given run when you look at the Summary page IIRC. It disappears quickly (overnight?) but I think that's okay

[2022-10-07 12:19] #30 closed

[2022-10-07 12:40] hoechenberger commented on #100
Let's not touch this for now and instead wait until we can completely abandon the napari forks we currently use to build our installers. Once we're back in vanilla, we can start looking into this issue here again. Agreed?

[2022-10-07 12:52] larsoner commented on #100
Yeah that makes sense!

[2022-10-18 19:15] hoechenberger commented on #82
Qt6 and PySide6 are now part of `conda-forge` (PySide6 is being built as we speak)

Once it's landed for all platforms, we can try to revive the MNELAB feedstock.

See https://anaconda.org/conda-forge/pyside6

[2022-10-19 06:51] cbrnr commented on #82
Meanwhile, there is another problem that needs to be fixed first. Matplotlib doesn't work with the PySide6 backend, which MNELAB requires. They have already fixed it (https://github.com/matplotlib/matplotlib/pull/24158), but we are waiting for a new release. Therefore, it's maybe best to wait for Matplotlib v3.6.2.

[2022-11-21 09:03] hoechenberger opened #156 "Pin ipywidgets to <8"
Otherwise, tqdm may not work properly in VS Code:
https://github.com/microsoft/vscode-jupyter/issues/8552#issuecomment-1263940999

[2022-11-23 12:57] mscheltienne opened #157 "Include seaborn"
What do you think about adding seaborn to the constructor?

[2022-11-23 13:07] hoechenberger commented on #157
We should include it, possibly alongside Plotly and pqdm

[2022-11-30 17:29] larsoner opened #159 "ENH: Add mne-bids-pipeline"
Once we have a proper PyPI and conda-forge release, can we close this and make a PR to mne-docker to add it there? It would be nice to keep mne-installers and mne-docker in sync. Even better if mne-docker could use mne-installers to do this...

_Originally posted by @larsoner in https://github.com/mne-tools/mne-bids-pipeline/issues/594#issuecomment-1320918568_